@model IEnumerable<GoogleMapTut.Models.ParkingSpot>


<h3>Closest Parking Spaces:</h3>


<div id="debugParkingList"> </div>

<script>
    var currentdate = new Date();
    var datetime = "Last Sync: "
                    + currentdate.getHours() + ":"
                    + currentdate.getMinutes() + ":"
                    + currentdate.getSeconds();
    var msg = "</br>view bag msg: @(ViewBag.msg)";
    //document.getElementById("debugParkingList").innerHTML += ("<br>" + datetime + msg);
</script>

<div>
    <table class="table" id="searchresulttable">
        <tr>
            <th>Icon</th>
            <th>
                @Html.DisplayNameFor(model => model.lat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
            *@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr id='parking@(item.Id)'>
                <td>
                    <img src="" id="icon@(item.Id)" class="hoverhand"/>
                </td>
                <td>
                    <div id="dist@(item.Id)">

                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                    <br />
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Province)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                *@
                <td>
                    @*
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })|
                    *@
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

</div>



<!-- Trigger the modal with a button -->
<div class="text-center">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">more results</button>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Please login!</h4>
            </div>
            <div class="modal-body">
                <p>Please log in to see more results or contact the service.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<script>
    var lastlat = @ViewBag.lastLat;
    var lastlng = @ViewBag.lastLng;


    console.log("first time loading the paritial page: " + firstload);
    if(!firstload){
        reinitialize();
    }

    function populateParkingMarkers(){

        parkingmarkers = [];

        @{var i=0;}
        @foreach (var item in Model)
        {
            @:addParkingMarker(@item.lng, @item.lat, @item.Id, alphabet[@i], @i);
                                    i++;
        }

        var bounds = new google.maps.LatLngBounds();
        fitBoundToMarkers(bounds, parkingmarkers);
        if(myposmarker){
            bounds.extend(myposmarker.getPosition());
        }

        map.fitBounds(bounds);
    }

    function showAllDistance(){
        @foreach (var item in Model)
        {
            @:showDistance(@item.lat, @item.lng, @item.Id);
        }
    }
</script>
